<%= link_to 'New task', new_task_path %>

<% @unfinished_tasks.each do |task| %>
	<div>
		<%= task.name %>
		<%= link_to 'Finish', finish_task_path(task), data: { turbo_method: :post } %>
		<%= link_to 'Edit', edit_task_path(id: task.id) %>
		<%= link_to 'Delete', task_path(task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
	</div>
<% end %>

<br>

<% @finished_tasks.each do |task| %>
	<div>
		<%= task.name %>
		<%= link_to 'Edit', edit_task_path(id: task.id) %>
		<%= link_to 'Delete', task_path(task), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
	</div>
<% end %>




